header{
	display: grid;
	grid-template-areas:"logo navbar";
	grid-template-columns: 1fr 1fr;
}

.logo{
	grid-area: logo;
	display: flex;
	align-items: center;
}

nav{
	grid-area: navbar;
	align-self: center;
}

nav ul{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
