<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="card-list">
        <article class="card">
            <header class="card-header">
                <p>May 25th 2020</p>
                <h2> Card tricks are fun. Hi mom!</h2>
            </header>
        </article>
        <article class="card">
            <header class="card-header">
                <p>May 25th 2020</p>
                <h2> Card tricks are fun. Hi mom!</h2>
            </header>
        </article>
        <article class="card">
            <header class="card-header">
                <p>May 25th 2020</p>
                <h2> Card tricks are fun. Hi mom!</h2>
            </header>
        </article>
        <article class="card">
            <header class="card-header">
                <p>May 25th 2020</p>
                <h2> Card tricks are fun. Hi mom!</h2>
            </header>
        </article>
        <article class="card">
            <header class="card-header">
                <p>May 25th 2020</p>
                <h2> Card tricks are fun. Hi mom!</h2>
            </header>
        </article>
    </section>
</body>

</html>