<article>
  <section class="title">
    <h1>How to not overload yourself</h1>
  </section>
  <section class="info">
    <ul>
      <li>Written by <a href="https://www.github.com/Marcos-Costa">Marcos Costa</a></li>
      |
      <li>Published on <time datetime="2018-02-04">Feb 04, 2018</time></li>
    </ul>
  </section>
  <section class="post">
    <img src="img/post-image.jpg" alt="6 rounded subimages. 1° shoe, 2° radio, 3° dog, 4° tree, 5° sword, 6° shield.">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique est. Ut vestibulum tristique libero. Nam fermentum sapien non mi dapibus, eget vestibulum purus vestibulum. Vestibulum egestas, lorem in porttitor lobortis, felis ipsum eleifend magna, eu tempus nibh elit eu metus. Proin ac luctus est. Sed maximus condimentum nunc, tincidunt dictum dui tristique eu. Fusce rhoncus porta hendrerit. Duis sit amet neque nibh. Curabitur scelerisque, felis et mattis vehicula, ligula purus bibendum nibh, ut vehicula quam leo sed eros.
      <blockquote>
        Proin ac luctus est. Sed maximus condimentum nunc, tincidunt dictum dui tristique eu.
      </blockquote>
    </p>
  </section>
</article>
