*{
	list-style-type: none;
}

article{
	display: grid;
	grid-template-areas:
	"title"
	"info"
	"post"
	;
	grid-template-rows: 1fr .5fr 3fr;
}

article .title{
	grid-area: title;
	display: flex;
	align-items: center;
	justify-content: center;
}

article .info{
	grid-area: info;
}

article .info ul{
	display: flex;
	align-items: center;
	justify-content: center;
}

article .post{
	grid-area: post;
	display: flex;
	flex-direction: column;
	align-items: center;
}