@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(120deg, #CBDFEF 0%, #7AA2CE 100%);
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

li {
    padding: 1rem 0;
}

.header{
    display: flex;
    justify-content: center;
    color: #fff;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: linear-gradient(180deg, #fff 0%, #c6d5ec 100%);
    border-radius: 32px;
    box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.1);
    transition: .2s;
    margin: 1.4rem;
}

.card:hover{
    transform: translateY(-1rem);
    transform: scale(1.1);
}

.img-container {
    min-height: 360px;
    min-width: 140px;
    overflow: hidden;
    position: relative;
}

.img-container::before {
    content: ' ';
    background: linear-gradient(180deg, #dae7fa 0%, #bfd4f2 50%);
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: absolute;
    overflow-x: hidden;
    top: 62px;
    right: -140px;
}

.img {
    height: 320px;
    position: absolute;
    top: 0px;
    left: 8px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 2fr .5fr;
    grid-template-areas: 
        "title title"
        "features img"
        "footer footer";
}

.title{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features{
    grid-area: features;
}

.img{
    grid-area: img;
}

.footer{
    grid-area: footer;
}
.footer p {
    text-align: center;
}4