@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap');

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(120deg, #CBDFEF 0%, #7AA2CE 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    padding: 1rem 0;
}

.card {
    background: linear-gradient(180deg, #fff 0%, #c6d5ec 100%);
    border-radius: 32px;
}

.flower-img {
    height: 400px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 2fr .5fr;
    grid-template-areas: 
        "title title"
        "features img"
        "footer footer";
}

.title{
    grid-area: title;
    display: flex;
    align-items: center;
    padding-left: 1.4rem;
}

.features{
    grid-area: features;
}

.img{
    grid-area: img;
}

.footer{
    grid-area: footer;
}