*{
	font-family: 'Roboto';
	color: #4C4647;
}

html,body{
	height: 100%;
}

h1,h2,h3{
	font-family: 'Times New Romans';
}

a {
	text-decoration: none;
	color: black;
}

img{
	max-width: 70%;
}

p{
	text-align: justify;
	
}

body{
	display: grid;
	grid-template-areas:
	". header header header ."
	". main main main ."
	". footer footer footer ."
	;
	grid-template-rows: .5fr 3fr .5fr;
	grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
}

header{
	grid-area: header;
}

main{
	grid-area: main;
}

footer{
	grid-area: footer;
	/*background: #bbbbbb;*/
}
